<a href="https://colab.research.google.com/github/GuCuChiara/Web-Scraping-to-Create-a-Dataset-using-Python/blob/main/Web_Scraping_to_Create_a_Dataset_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraping to Create a Dataset using Python

# How are Datasets Created by Scraping the Web?
There are so many libraries, frameworks, and tools that are used for the task of web scraping. 

### Some of the most common libraries and modules in Python used for web scraping are:

* Scrapy
* Selenium
* BeautifulSoup
* Urlib.request

All of the above Python libraries and modules are great for scraping data from websites. 

After scraping the data, the data is prepared so that it can be stored in a CSV file to create a dataset.

### We link our google drive to colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### For this task, we will be using the **BeautifulSoup library** in Python.

we import the necessary libraries

In [ ]:
import csv
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

### We open the url of **Wikipedia** to go through the html tables:

In [ ]:
html = urlopen("https://en.wikipedia.org/wiki/Comparison_of_programming_languages")
soup = BeautifulSoup(html, "html.parser")
table = soup.findAll("table", {"class":"wikitable"})[0]
rows = table.findAll("tr")

### After scraping the data, the data is prepared so that it can be stored in a CSV file to create a local dataset.
```
programing_languages.csv
```

In [ ]:
with open("/content/drive/MyDrive/Colab Notebooks/Python scripts/programing_languages.csv", "wt+", newline="") as f:
    writer = csv.writer(f)
    for i in rows:
        row = []
        for cell in i.findAll(["td", "th"]):
            row.append(cell.get_text())
        writer.writerow(row)

### We read the header of our dataset with pandas:

In [ ]:
import pandas as pd
a = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Python scripts/programing_languages.csv")
a.head()

,Language\n,Original purpose\n,Imperative\n,Object-oriented\n,Functional\n,Procedural\n,Generic\n,Reflective\n,Event-driven\n,Other paradigms\n,Standardized?\n
0,1C:Enterprise programming language\n,"Application, RAD, business, general, web, mobi...",Yes\n,No\n,Yes\n,Yes\n,Yes\n,Yes\n,Yes\n,"Object-based, Prototype-based programming\n",No\n
1,ActionScript 3.0\n,"Application, client-side, web\n",Yes\n,Yes\n,Yes\n,No\n,No\n,No\n,Yes\n,\n,"Yes1996, ECMA\n"
2,Ada\n,"Application, embedded, realtime, system\n",Yes\n,Yes[2]\n,No\n,Yes[3]\n,Yes[4]\n,No\n,No\n,"Concurrent,[5] distributed,[6]\n","Yes1983, 2005, 2012, ANSI, ISO, GOST 27831-88[..."
3,Aldor\n,"Highly domain-specific, symbolic computing\n",Yes\n,Yes\n,Yes\n,No\n,No\n,No\n,No\n,\n,No\n
4,ALGOL 58\n,Application\n,Yes\n,No\n,No\n,No\n,No\n,No\n,No\n,\n,No\n

### Another example with the **worldometers** web page containing information about COVID-19:

### COVID-19 CORONAVIRUS PANDEMIC
## https://www.worldometers.info/coronavirus/

In [ ]:
url = 'https://www.worldometers.info/coronavirus/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

### We look for the table with the id **main_table_countries_today** that contains the statistical information of interest:

In [ ]:
table = soup.find('table', id='main_table_countries_today')

### After scraping the data, the data is prepared so that it can be stored in a CSV file to create a local dataset:


```
coronavirus.csv
```

In [ ]:
rows = table.findAll("tr")

with open("/content/drive/MyDrive/Colab Notebooks/Python scripts/coronavirus.csv", "wt+", newline="") as f:
    writer = csv.writer(f)
    for i in rows:
        row = []
        for cell in i.findAll(["td", "th"]):
            row.append(cell.get_text())
        writer.writerow(row)

### We read the header of our local **coronavirus.csv** dataset with pandas:

In [ ]:
a = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Python scripts/coronavirus.csv")
a.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,NaN,\nNorth America\n,"123,822,984","+8,168","1,602,516",109.0,"118,877,067","+12,634","3,343,401","8,343",...,NaN,NaN,NaN,North America,\n,NaN,NaN,NaN,NaN,NaN
1,NaN,\nAsia\n,"213,437,083","+71,043","1,532,261",339.0,"197,923,518","+59,535","13,981,304","15,751",...,NaN,NaN,NaN,Asia,\n,NaN,NaN,NaN,NaN,NaN
2,NaN,\nEurope\n,"245,173,554","+19,292","2,009,753",76.0,"240,857,241","+25,514","2,306,560","6,467",...,NaN,NaN,NaN,Europe,\n,NaN,NaN,NaN,NaN,NaN
3,NaN,\nSouth America\n,"67,812,576","+2,256","1,348,472",36.0,"66,007,415","+9,519","456,689","10,215",...,NaN,NaN,NaN,South America,\n,NaN,NaN,NaN,NaN,NaN
4,NaN,\nOceania\n,"13,914,877",NaN,"25,471",NaN,"13,754,315",NaN,"135,091",78,...,NaN,NaN,NaN,Australia/Oceania,\n,NaN,NaN,NaN,NaN,NaN

### We can save our table in html format, to use it on our website:

In [ ]:
with open('/content/drive/MyDrive/Colab Notebooks/Python scripts/tabla.html', 'w') as f:
    f.write(str(table))

In [ ]:
import pandas as pd
import re

r = requests.get('https://www.worldometers.info/coronavirus/').text

soup = BeautifulSoup(r,"lxml")
today = str(soup.find('div', attrs={'id':'nav-today'}))
# Converted into string because re need string not bytes

today = re.sub(r'<.*?>', lambda g: g.group(0).upper(), today)
# Changing characters inside <> into uppercase

dfs = pd.read_html(today)[0]
#print(dfs)
dfs.head

<bound method NDFrame.head of       #  Country,Other  TotalCases  NewCases  TotalDeaths  NewDeaths  \
0   NaN  North America   123825061   10245.0    1602555.0      148.0
1   NaN           Asia   213437083   71043.0    1532261.0      339.0
2   NaN         Europe   245173554   19292.0    2009753.0       76.0
3   NaN  South America    67812576    2256.0    1348472.0       36.0
4   NaN        Oceania    13914877       NaN      25471.0        NaN
..   ..            ...         ...       ...          ...        ...
242 NaN         Total:    67812576    2256.0    1348472.0       36.0
243 NaN         Total:    13914877       NaN      25471.0        NaN
244 NaN         Total:    12782188      44.0     258535.0        NaN
245 NaN         Total:         721       NaN         15.0        NaN
246 NaN         Total:   676946060  102880.0    6777062.0      599.0

     TotalRecovered  NewRecovered  ActiveCases  Serious,Critical  ...  \
0       118891433.0       27000.0    3331073.0            8341.0  ...
1       197923518.0       59535.0   13981304.0           15751.0  ...
2       240857241.0       25514.0    2306560.0            6467.0  ...
3        66007415.0        9519.0     456689.0           10215.0  ...
4        13754315.0           NaN     135091.0              78.0  ...
..              ...           ...          ...               ...  ...
242      66007415.0        9519.0     456689.0           10215.0  ...
243      13754315.0           NaN     135091.0              78.0  ...
244      12065633.0           NaN     458020.0             547.0  ...
245           706.0           NaN          0.0               0.0  ...
246     649500261.0      121644.0   20668737.0           41399.0  ...

     TotalTests  Tests/ 1M pop  Population          Continent  \
0           NaN            NaN         NaN      North America
1           NaN            NaN         NaN               Asia
2           NaN            NaN         NaN             Europe
3           NaN            NaN         NaN      South America
4           NaN            NaN         NaN  Australia/Oceania
..          ...            ...         ...                ...
242         NaN            NaN         NaN      South America
243         NaN            NaN         NaN  Australia/Oceania
244         NaN            NaN         NaN             Africa
245         NaN            NaN         NaN                NaN
246         NaN            NaN         NaN                All

     1 Caseevery X ppl 1 Deathevery X ppl  1 Testevery X ppl  \
0                  NaN                NaN                NaN
1                  NaN                NaN                NaN
2                  NaN                NaN                NaN
3                  NaN                NaN                NaN
4                  NaN                NaN                NaN
..                 ...                ...                ...
242                NaN                NaN                NaN
243                NaN                NaN                NaN
244                NaN                NaN                NaN
245                NaN                NaN                NaN
246                NaN                NaN                NaN

     New Cases/1M pop  New Deaths/1M pop  Active Cases/1M pop
0                 NaN                NaN                  NaN
1                 NaN                NaN                  NaN
2                 NaN                NaN                  NaN
3                 NaN                NaN                  NaN
4                 NaN                NaN                  NaN
..                ...                ...                  ...
242               NaN                NaN                  NaN
243               NaN                NaN                  NaN
244               NaN                NaN                  NaN
245               NaN                NaN                  NaN
246               NaN                NaN                  NaN

[247 rows x 22 columns]>